body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    
}


.main {
    background-color: #F5F5F5;
    margin: 0px;
    
}



navigation {
    position: sticky;
    top: 0px;
    z-index: 4;
    
}

.nav {
    background-color: rgba(32, 40, 70, 1);
    width: 100%;
    height: 90px;
    position: relative;
    
}

.navbar {
    margin: 0px 0px;
    padding-left: 30%; 
    padding-top: 12px;
    
    
}

.nav_li  {
    display: inline-block;
    margin-right: 54px;
    padding: 10px 0px;   
    height: 46px;
    list-style-type: none;
    text-align: center;
   
    
   
}

.nav_li :nth-child(1) {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
   
}



.logo {
   
    background-image: url(../img/logo_gora.png);
    width: 190px;
    height: 100%;
    background-repeat: no-repeat;
    padding-right: 0px;
    margin-left: 0px;
    position: relative;
    left: 105px;
    top: 10px;
    float: left;
    
}

.earth {
 
  float: right;
  position: relative;
  bottom: 77px;
  right: 5%;
    
}

.earth a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
    
}

.logo_lang {
    position: relative;
    bottom: 20px;
    left:5px ;
}

h2{
    margin: 0px 0px;
    color: rgba(32, 40, 70, 1);
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
    padding: 2% 5%;
}

.header_section {
    height:120px;
    background-color: #C6C6DC;
   
    
}

.geo {
    
    width: 80%;
    margin: 1% auto;
    position: relative;
    background-color: #E8E8E8;
    
}

.geo_text {
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    padding: 1rem;
    
    
}

.rectangle {
    float: right;
    position: absolute;
    top:26%;
    right:2%;
}

.card {
    width: 80%;
    height: 300px;
    margin: 2% auto;
   position: relative;
   background-color: #BDBDC6;
   
}

.card:hover , path:hover  {
    background-color:#AEAEE2 ;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
    fill: yellow;
   
    
}

.card_img {
    width: 35%;
    margin: 1% 5%;
    padding-top: 1% ;
}

.card_text {
    height: 87%;
    width: 48%;
    position: absolute;
    top: 6%;
    
    left: 45%;
    
}

.card_title {
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    color:rgba(53, 60, 87, 1);
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.card_content {
    height: 52%;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    color: rgba(32, 40, 70, 1);
    background-color: #D7D7DD;
    margin: 1% auto;
    padding: 5%;
    
}

.star {
    position: absolute;
    top: 4%;
    right: 2%;
}

.link a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    border-radius: 36px;
    background-color: #202846;
    display: inline-block;
    width: 21%;
    height: 35px;
    padding: 1% 1%;
    position: absolute;
    bottom: -10px;
    right: -46px;
}

.link a:hover {
    background-color: #EF075B;
}

.margin {
    margin-top: 10%;
}

.box {
    width: 50%;
    height: 350px;
    margin: 2% auto;
    background-color: #BDBDC6;
    position: relative;
}

.avatar {

    width: 10%;
    position: absolute;
    top: 12%;
    left: 12%;
}

.btn_1 a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;  
    background-color: #484A54;
    width: 21%;
    height: 35px;
    border-radius: 36px;
    margin: 1%;
    padding-top: 8px;
    position: absolute;
    top: 46%;
    left: 6%;
   
}

.btn_2 a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;  
    background-color: #484A54;
    width: 21%;
    height: 35px;
    border-radius: 36px;
    margin: 1%;
    padding-top: 8px;
    position: absolute;
    top: 61%;
    left: 6%;
    
   
}

.btn_1 a:hover, .btn_2 a:hover {
    background-color: #69749B;
}

.cabinet_form {
    width: 60%;
    height: 90%;
    position: absolute;
    top:2%;
    right: 4%;
    margin: 1% 2%;
}

.form_descr {
    border-bottom: 3px solid #FFFFFF;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    color:  rgba(53, 60, 87, 1);
    margin-bottom: 1%;
    padding-bottom: 1%;
}

span {
    font-weight: 400;
}

.form_descr_last {
    
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    color:  rgba(53, 60, 87, 1);
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.btn_3 a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;  
    background-color: #202846;
    width: 21%;
    height: 35px;
    border-radius: 36px;
    margin: 1%;
    padding-top: 8px;
    position: absolute;
    top: 110%;
    left: 40%;
    
    
   
}

.contact_footer {
    min-height: 600px;
    position: relative;
    background-color: #F5F5F5;
}




.contact_phone {
   
    height: 15%;
    width: 10%;
    margin: 2%;
    position: absolute;
    top: 0%;
    left: 28%;
}

.contact_schedule {
   
    height: 15%;
    width: 10%;
    margin: 2%;
    position: absolute;
    top: 0%;
    left: 46%;
}


.contact_email {
    
    height: 15%;
    width: 10%;
    margin: 2%;
    position: absolute;
    top: 0%;
    left: 70%;
}

.contact_addres {
    
    height: 15%;
    width: 15%;
    margin: 2%;
    position: absolute;
    top: 44%;
    left: 28%;
}

.contact_title {
    border-bottom: 3px solid #202846;
    width: 100%;
    font-weight: 400;
    font-size: 1.5em;
    padding-left: 6%;
    color: rgba(0, 0, 0, 1);
}

.conatct_subtitle a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 1.3em;

}


.conatct_subtitle p {
    margin: 1%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 1.2em;
    padding: 1%;
    
   
}
.map {
    position: absolute;
    bottom: 5%;
    right: 14%;
}

footer {
    background-color: rgba(32, 40, 70, 1);
    height: 100px;
    width: 100%;
    margin-top: 30%;
}

.footer {
    
    background-color:rgba(32, 40, 70, 1);
    height: 90px;
    color: rgba(238, 236, 241, 1);
    font-weight: 400;
    font-style: italic;
    font-size: 2.2em;
    padding: 5%;
}