body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:rgba(0, 0, 0, 1);
}
p {
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient( 120.21deg, #3E708E 11.18%, #64969B 74.17%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.main {
    
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
}


.form {
    background-color: #ffffff;
    
    width: 55%;
}

.nav {
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    color: #FFFFFF;
    
   
    
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 4% 20%;
    


}

.header_nav a {
    text-decoration: none;
    color:  #FFFfFF;
    margin: 0px 3%;

}

.header_nav a:hover {
    color: black;
}

.quot-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 35% auto;
   
}

.quote {
    font-size: 4em;
   padding: 0 20% 0 13%;
   
}

.signature {
    align-self: flex-start;
    margin-left: 13%;
}


/* стилі для форми*/


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    align-self: flex-start;
    padding: 1% 2%;
    margin: 2% 1%;
    font-size: 1.5em;
    
}

.header-title {
    font-size: 1.5em;
    margin: 1% 45% 3px 14%;
}

.form-container {
    width: 60%;
    
}

.form-container > div {
    font-weight: 400;
    color:rgba(0, 0, 0, 1);
    margin-bottom: 4%;
    
}

.inp {
    
    height: 40px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.name > .lab {
    margin-bottom: 0.5%;
}

.mail {
    display: flex;
    flex-direction: column;
}

.phone-nmb {
    display: flex;
    flex-direction: column;
}

.pwd {
    display: flex;
    flex-direction: column;
    
}

.loc {
    display: flex;
    flex-direction: column;
}

.pwd > p {
    color: rgba(204, 204, 204, 1);
    font-weight: 400;
    font-size: 0.75em;
    margin: 0.5% 0;

}

label > span {
    font-size: 0.75em;
    color:rgba(196, 196, 196, 1) ;
}


.btn-sign {
    width: 100%;
    height: 40px;
    background-color: rgba(39, 72, 93, 1) ;
    color:rgba(255, 255, 255, 1);
    border: 1px solid #284A5E;
    border-radius: 4px;
    cursor: pointer;
    margin: 10% auto;
}

.btn > p {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color:rgba(196, 196, 196, 1) ;
}


.login  {
    

    color: rgba(71, 109, 115, 1);
}


.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

