html {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

body {
    margin: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}
ul, li {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
.logo {
    width: 49%;
    height: 100vh;
    box-sizing: border-box;
    padding: 16rem 0rem 6rem 26rem;

    
}

.login-form {
    width:49%;
    height: 100vh;
}

.rect {
    margin: 5% auto;
    width: 1%;
    height: 80vh;
    background-color:rgba(255, 165, 0, 1) ;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 8% 0;
   
}




.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 2rem 0 0 39rem;
    
}

.form > input {
    width: 40%;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
}

.form > label {
    color:rgba(150, 150, 151, 1);
    font-weight: 400;
    font-size: 1.8rem;
    margin-left: 0.5rem;
}
.logo-img {
    padding: 1rem 0;
    width: 100%;
}

.enter{
    margin-top: 6%;
    width: 100%;
    box-sizing: border-box;
   
}
.btn-enter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

a > input {
    width: 22rem;
    height: 6rem;
    border: 1px solid rgba(0, 191, 255, 1) ;
    border-radius: 10px;
    background-color: rgba(0, 191, 255, 1);
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enter-a {
    text-decoration: none;
}

.forgot-password {
    color: rgba(150, 150, 151, 1);
    font-weight: 400;
    font-size: 1.8em;
    align-self: flex-end;
    padding: 1% 23%;
    
}
/* Header CSS*/

.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(21, 87, 103, 1) ;
    margin: 3rem;
    
}

.logo-anchor {
    display: flex;
    
}

.right-header {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.users::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid #494848;
    border-radius: 100%;
    background-image: url(../img/ava.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2rem;
}

.anchor {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    

}

.logout-icon {
    margin-right: 3rem;
}

.notification-icon {
    margin: auto 5rem;
}

/*Header CSS end*/


/*CPO CSS*/
.main {
    display: flex;
    flex-direction: row;
    min-height: 68rem;
    margin: 1% 1.5% 1% 1.5%;
}
.asaid  {
    width: 20%;
    border: 1px solid rgba(112, 112, 112, 1);
}

.content-form {
    width: 80%;
    border: 1px solid rgba(112, 112, 112, 1);
}

.refresh {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5rem;
}

.refresh-btn {
    color:rgba(247, 247, 249, 1) ;
    background-color:  rgba(0, 191, 255, 1);
    border: 1px solid 
    rgba(0, 191, 255, 1);
    width: 10%;
}

.refresh::after {
    content: "";
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url(../img/icon-refresh.svg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
   
}

/*ASAID*/

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10% auto 40%;
}

.navbar-asaid li > a  {
    
    font-size: 2.4rem;
    color:rgba(0, 0, 0, 1) ;
    margin: 1% auto;

}

.dashboard::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/dashboard-icon.svg);
    margin-right: 1rem;

}


.sessions::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon-sessions.svg);
    margin-right: 1rem;

}


.payment::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon-build.svg);
    margin-right: 1rem;

}


.management::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;

}


.cpo::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 35px;
    background-image: url(../img/icon-cpo.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;

}


.analytics::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-analytics.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;

}

.active {
    font-weight: 700;
}
/* CSS - header- main block right*/
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 1%;
    width: 100%;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 35%;
    padding-right: 5%;
}

.header-name {
    color: rgba(150, 150, 151, 1) ;
    font-weight: 700;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin: -100px 0 0 0;
    

}

.header-name::before {
    content: "";
    display: inline-block;
    width:45px ;
    height: 37px;
    background-image: url(../img/icon-cpo-man.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1%;
    
}

.reset-header > input {
    border: 1px solid rgba(162, 163, 164, 1);
    border-radius: 10px;
    width: 160px;
    height: 60px;
    background-color: rgba(162, 163, 164, 1) ;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}


.save > input {
    border: 1px solid rgba(0, 191, 255, 1);
    border-radius: 10px;
    width: 160px;
    height: 60px;
    background-color: rgba(0, 191, 255, 1) ;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}


/*CSS form*/

.form-content {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 3% 2% 3%;
}
.form-content > div {
    width: 100%;
}
.input-form {
    width: 80%;
    height: 40px;
}

.container-form {
    display: flex;
    flex-direction: column;
}

.label-name{
    color:rgba(150, 150, 151, 1) ;
    font-weight: 300;
    font-size: 2rem;
    margin: 0.5% 0 0.5% 0.5%;
    
}

.counrty-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
}
.half-input {
    width: 200%;
}

.left-input{
    margin: 0 35% 0 0;
}

.conteiner-generate {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 81%;
}


.generate {
    width: 20%;
    background-color:rgba(0, 191, 255, 1);
    height: 46px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

}

.generate::before{
    content: "";
    width:40px ;
    height: 25px;
    background-image: url(../img/key.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 2%;
}

/*CSS users*/

.btn-invite {
    width: 18%;
    width: 40;
    height: 46px;
    background-color: aqua;
    margin-right: 2%;
    color: rgba(247, 247, 249, 1);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.btn-invite::after {
    content: "";
    width: 46px;
    height: 46px;
    display: inline-block;
    
    background-image: url(../img/Icon_fly.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
.users-header{
    display: flex;
    flex-direction: row;
    
}

.users-container{
    width: 100%;

}

.users-container {
    width: 80%;
  
}
.form-search {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.search-btn {
    height: 40px;
    width: 20%;
    border: 1px solid rgba(112, 112, 112, 1) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
    
}

.search-input {
    height: 42px;
    width: 70%;
    border: 1px solid rgba(112, 112, 112, 1) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
    margin-right: 5%;
    padding-left: 3%;
    background-image: url(../img/icon-search-lupa.svg);
    background-repeat: no-repeat;
    background-position: left;
    
}

.user-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(150, 150, 151, 1) ;

}

.users-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1%;
}

.plus{
    width: 25%;
    padding-left: 2%;
}
.plus::after {
    background-image: url(../img/icon-plus.svg);
    background-repeat: no-repeat;
}
/*CSS - Services*/
.chargin-main {
    height: auto;
    margin: 6% 0 0 1%;
}

.header-section {
    font-weight: 700;
    font-size: 2.4rem;
}


.container-form-services {
    display: flex;
    flex-direction: column;
    
}

.form-charging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-charging > input {
    width: 22%;
    height: 30px ;
    padding-left: 1%;
    color: rgba(150, 150, 151, 1);
    font-weight: 700;
    font-size: 1.5rem;
   
}

.label {
    margin: 1%;
    font-weight: 700;
    font-size: 2.4rem;
    
}

.form-search-station{
    width: 75%;
}
.form-search-station > input{
    width: 100%;
    height: 36px ;
    padding-left: 9%;
    color: rgba(150, 150, 151, 1);
    font-weight: 700;
    font-size: 1.5rem;

}


.list-name-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgba(165, 165, 165, 1) ;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1%;

}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(214, 214, 214, 0.16);
    
}

.table-header > p {
    color: rgba(165, 165, 165, 1) ;
    font-size: 1.5rem;
    font-weight: 700;
    
}

.table-row {
    width: 100%;
    height: 50px;
    background-color: rgba(214, 214, 214, 0.16);
    margin-top: 0.5%;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
    height: 30px;
}

.page > img {
    border: 1px solid rgba(174, 173, 173, 1);
    width: 1%;
    height: 100%;
}


.page-nmb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1.5%;
    border: 1px solid rgba(174, 173, 173, 1);
    color: white;
    background-color: #00BFFF ;
    font-size: 1.5rem;
    font-weight: 700 ;
}

.low-container {
    border-top:rgba(174, 173, 173, 1) 1px solid ;
}

.form-low-conatainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40%;
    padding-top: 1%;

}


.form-itm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

}

.form-itm > label {
    font-weight: 700;
    font-size: 1.4rem ;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.form-itm > input {
    width: 70%;
    height: 30px;
    border-radius: 10px;
}

.raitng-input {
    background-image: url(../img/icon-star.svg);
    background-position: center;
    background-repeat: repeat-x;
    padding: 2%;

}


/*CSS - Services*/


.form-low-container-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% auto;
   
}


.form-itm-img {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 5%;
}
.file-label{
    color:rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 2rem;
}
.file {
    border-bottom: 1px rgba(0, 0, 0, 1) solid;
    margin-right: 40%;
}

.form-img-chess {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 10%;
    padding: 1%;
}

.reset-header > .btn-cancel {
    width: 150px;
    height: 50px;
    border-radius: 0;
}

.save > .send-invite {
    width: 250px;
    height: 50px;
    border-radius: 0;
}

.save-last::after {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url(../img/Icon_fly.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-color: black;
    float: right;
}

.invite-users{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    width: 76%;
}

.form-general {
    display: flex;
    flex-direction: row;
    width: 100%;
   
}

.header-general {
    margin: 1% 0 0 5%;
    color: rgba(150, 150, 151, 1);
    font-size: 1.8rem;
    font-weight: 400;
}

.input-general > input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35px;
    border: 1px solid rgba(174, 173, 173, 1);
    margin: 1% 0 2% 0;
}

.input-general > label {
    margin-left: 2%;
    color: rgba(150, 150, 151, 1);
    font-size: 1.5rem;
    font-weight: 400;
}

.form-container {
    width: 50%;
    padding:2% ;
    display: flex;
    flex-direction: column;
    
}

.form-container-two {
    width: 50%;
    padding:2% ;
    display: flex;
    flex-direction: column;
}

.radio-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.radio-one {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 2% 0 1% 0%;

    

}

.radio-one > label {
    margin-right: 1%;
    width: 12%;
    color: rgba(150, 150, 151, 1);
    font-size: 2rem;
}

.radio-one > input {
    margin-right: 1%;
}

.radio-one > label:checked{
    color: aqua;
}
