body {
    margin: 0;
}


span {
    color:#0BBBD3 ;
}

h1 {
    text-align: center;
}

.bg_photo {
    
    background-image: url(../img/church.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    background-size: 100%;
    margin-bottom: 18px;
    
    
    
    
}

.bg_photo p {
    position: relative;
    top: 265px;
    left: 450px;
    text-align: left;
    color: white;
    font-size: 54px;
}

.flag {
    height: 191px;
    width: 24px;
    background-color:#33B8F1;
    position: absolute;
    top: 260px;
    left: 350px;
    right: 50px;
       
}
.flag_02 {
    height: 191px;
    width: 24px;
    background-color:#E8F82F;
    position: absolute;
    top: 450px;
    left: 350px;
    right: 50px;   
}

h3 {
    font-size: 2em;
    text-align: left;
    padding-left: 70px;
    text-decoration: underline  #33B8F1 5px;
    text-underline-offset: 5px;   
}

.card {
    
    display: inline-block;
    clear: both;
    cursor: pointer;
    padding: 15px; 
    margin-right: 2%;
    box-shadow: 0px 4px 6px 5px rgb(0 0 0 / 25%);
    border-radius: 30px;
    
}

.card_3 {
  
    display: inline-block;
    float: right;
    position: absolute;
    cursor: pointer; 
    padding: 15px;
    box-shadow: 0px 4px 6px 5px rgb(0 0 0 / 25%);
    border-radius: 30px;
    /* Не зміг зробити тіні*/ 
    
}

.card_holder {
    
     padding: 5px 80px 5px 80px;
    
}


.logo_h3 {
    
    text-align: center;
    position: inherit;  
}

.heart {
    background-image: url(../img/logoUkraineHeart.png);
    background-position: center;
    background-repeat: no-repeat;
    
    height: 877px;
    width: 100%; 
}

.support {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color:#33ADF1 ;
    width: 430px;
    padding:4px;
    margin:-110px 0px 100px 750px;
    
}



.footer {
    font-size: 2em;
    color: #F8F5F5;
    text-align: center;
    padding-top: 7px;
    display: block;
    background-color:#0A2DA9 ;
     margin-bottom: 0px;
}

.footer a {
    text-decoration: none;
    font-size: 1em;
    color: wheat;
    display: block;
    margin:10px 10px;
    
}

ul {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}
li  {
    list-style-type: none;
    display: inline-block;
    padding: 35px;
    
}

.social {
    background-color: #bbbeae;
    border-radius: 25px;
    padding: 15px 15px;
    
   
}

