html {

    font-family: 'Rosario', sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: italic;
    --black: rgb(0, 0, 0);
    --white: rgba(255, 252, 252, 1);
    --backg-col :#E5E5E5;
    --text-hover: rgba(222, 222, 222, 1);

}

body {
    margin: 0;
   
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

header {
    width: 100%;
    position: sticky;
    top:0;
    
    
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    
}
.navigation {
    
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 30%;
    /*padding: 1% 2%; */
    
}

.navigation > a {
    display: flex;
    flex-direction: row;
    margin: 0 2%;
    font-size: 3.6rem;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.logo-img {
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
 

}



.navigation > a:hover {
    color: var(--text-hover);
}



.main > div {
    height: 100vh;
    border: 1px red solid;
    background-color: var(--backg-col);
    
    
}
/*Gallery wrap*/

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.right-card {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-card {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.central-cards-container {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
    
    
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    
}

.left > img, .right > img {
    margin: 1% auto;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*Services wrap*/

.services {
    display: flex;
    flex-direction: row;
    
    
   
}

.asaid-left-services {
    width: 50%;
    background-color: var(--white);
}




.asaid-right-services {
    
    width: 50%;
}

.asaid-right-services > img {
    width: 100%;
}

.services-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.card-container {
    margin: 7% auto;
    
}



.card-service  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
}

.card-service > p {
    font-size: 4.8rem;
}

/*Team style*/

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-team {
    font-size: 9.6rem; 
    font-style: normal;
    
}

.card-container-team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2%;
}

/**/