body {
    box-sizing: border-box;
    background-color: rgba(33, 37, 41, 1);
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
}
.main {
    width: 100%;
    
}
header {
   min-height: 90px;
    
}
/* Стилі для хедеру*/
.header {
       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     
}

.logo {
    margin: 1%;
}

.nav {
    width: 40%;
    height: 45px;

}


.nav_list {

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}


.nav_list>li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding: 1%;
    
}

.nav_list>li>a:hover {
    color: rgba(255, 183, 66, 1);
}

.hire {
    background-color: rgba(255, 183, 66, 1);
    height: 40%;
    width: 5%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1% 2%;
    margin-right: 2%;
}

.hire a:hover  {
    
    color: rgba(33, 37, 41, 1) ;
    
}

.hire a {
    text-decoration: none;
    color: #ffffff;
    box-shadow: 1px -1px 2px rgba(255, 183, 66, 1) ;
}
/* Стилі для секції про мене*/
.who_i_am {
    margin-top: 5%;
    margin-bottom: 5%;
}


.who {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}



.text{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 2.2em;
    text-transform: capitalize;
    margin-top: 1%;
}

.text_title {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 2.2em;
    text-transform: capitalize;
    margin-top: 1%;
}

span {
    
    color: rgba(255, 183, 66, 1);
    border-bottom: 1px rgba(255, 183, 66, 1) solid;
}

.text h2 {
    font-size: 2.0em;
    margin: 0 0 7%;
}


.avatar {
    margin-top: 1%;
}


.meter {
    min-height: 200px;
    width: 100%;
    margin: 10% 0%;
}

/* Стилі для секції метрика*/
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
}


.card {
    width: 20%;
    background-color: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.card:hover {
    background-color: rgba(255, 183, 66, 1);
      
}

.card:hover .title {
    color: rgba(0, 0, 0, 1);
}

.card_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color:rgba(255, 183, 66, 1);
    font-weight: 700;
    line-height: 2em;
}
/* Стилі для секції про мене*/
.about-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.photo {
    width: 50%;
    
}
.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 5%;
    width: 45%;

}

.parag {
    font-size: 1em;
    width: 95%;
}

.who-i {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    width: 22%;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.08);
    color:rgba(255, 183, 66, 1);
    font-weight: 600 !important;
    font-size: 1.1em !important;
}

.hire_2 {
    background-color: rgba(255, 183, 66, 1);
    width: 10%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 2%;
    margin-top: 5%;
}
.hire_2 a {
    text-decoration: none;
    color: #ffffff;
    
}
.hire_2 a:hover  {
    
    color: rgba(33, 37, 41, 1) ;
    
}


/* Стилі для блоку мої роботи*/
.header_work {
    
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_works  {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5% 1%;

}

.nav_works a {
    text-decoration: none;
    width: 20%;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.nav_works a:hover {
    background-color: rgba(255, 183, 66, 1);
    color:rgba(33, 37, 41, 1);
}

.works_img {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
    
    
}

img {
    margin-bottom: 2%;
}
.work {
    margin-bottom: 1%;
}


/* Стилі для футера*/

footer {
    
    background-color: #1C1C1C;
    font-family: 'Work Sans', normal;
    font-weight: 500;
    color:#7B7B7B;
    line-height: 36px;
   
}

.footer {
    width: 100%;
    margin: 0;
    
    
}

.top_title {
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 5% 7%;
}

.footer_title span {
    border-bottom: none;
    font-family: 'Poppins', normal;
    font-size: 2em;
    font-weight: 700;
    line-height: 32px;
}

.footer_title {
    color:rgba(245, 251, 242, 1);
    font-weight: 700;
    font-size: 1.34em;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    width: 20%;

}

.desinger {
    font-weight: 600;
    line-height: 32.38px;
    color:rgba(212, 212, 212, 1);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10%;
}


.pages {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    
}

.pages a {
    text-decoration: none;
    font-family: 'Work Sans', normal;
    font-weight: 500;
    color:#7B7B7B;
    line-height: 36px;

}

.letter {
    font-family: 'Work Sans', normal;
    font-weight: 500;
    color:#7B7B7B;
    line-height: 36px;
    font-size: 1.1em;
    margin-top: 10%;
}

.pages a:hover {
    color:rgba(245, 251, 242, 1);
}

.to_top {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: darkslateblue;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: fixed;
    bottom:100px;
    right: 20px;
   
    

}

.to_top a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2em;
}

.to_top:hover a {
    color:rgb(255, 183, 66);
}